body {
    background-color: lightblue;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
}

label {
    display: block;
    margin: 10px;
}

.inputfield {
    width: 60%;
    float: right;
}

.box-shadow {
    box-shadow:  3px 3px 3px 3px #999;
}

.set {
    background-color: inherit;
    border: none;
}

.set::placeholder {
    color: black;
}

.show-inline {
    display: inline;
}

